.folder {
    cursor: pointer;
}

.root {
    padding: 10px;
    width: 50%;
    .item {
        padding: 10px 15px;
        background: #eee;
        margin: 5px 0;
        text-decoration: underline;
    }
}