<header class="app-header">
  <div class="header-wrap">
    <div class="left-section">
      <div class="logo">
        Playment
      </div>
    </div>
    <div class="right-section">
      <div class="info-wrap">
        <div class="user-wrap">
          <div class="user-info">Hello, Siddharth Dubey</div>
        </div>
        <div class="notifications">
          <i class="material-icons">notifications_none</i>
        </div>
        <div class="settings">
          <i class="material-icons">format_align_justify</i>
        </div>
      </div>
    </div>
  </div>
</header>