// https://coolors.co/3b6bf1-080708-c3baba-ff331f-fbfbff // palette
$primary-font-color: #080708;
$primary-color: #3B6BF1;
$primary-border-color: #c3baba;
$primary-white:#fbfbff;
$primary-danger-color:#ff331f;